<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Team 28</title>
    </head>
    <body>
        <form method="GET" action="">
            {{ form.query.label }}
            {{ form.query() }}
            <br>
            <input type="submit" value="Search">
        </form>
        {% if search_query %}
            <div>
                <h3>
                    Your search "{{ search_query }}" returned {{ local_results|length }}
                    result{% if local_results|length != 1 %}s{% endif %} from our site
                    and {{ flickr_results|length }} result{% if flickr_results|length != 1 %}s{% endif %}
                    from Flickr
                </h3>
                <h2>Results from this site:</h2>
                {% for result in local_results %}
                    <div>
                        <h3><a href="{{ url_for('image', image_id=result['id']) }}">{{ result['title'] }}</a></h3>
                        <img src="static/images/{{ result['id'] }}.jpg" alt="{{ result['title'] }}">
                    </div>
                {% endfor %}
                <h2>Results from Flickr:</h2>
                {% for result in flickr_results %}
                    <div>
                        <h3><a href="{{ url_for('image', image_id=result['id']) }}">{{ result['title'] }}</a></h3>
                        <img src="{{ result['url_n'] }}" alt="{{ result['title'] }}">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </body>
</html>